* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: rgb(4, 4, 65);
  padding: 20px;
}

.header {
  text-transform: capitalize;
  font-size: 32px;
  color: white;
  text-align: center;
}

.task-box {
  display: flex;
  margin: 20px 0;
}

.task-input {
  outline: none;
  padding: 8px;
  flex: 1 1 0%;
  height: 48px;
  background-color: transparent;
  border: 1px solid blueviolet;
  color: white;
}

.addBtn {
  width: 80px;
  height: 48px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  text-transform: capitalize;
  border: none;
  outline: none;
}

.task-display {
  background-color: blueviolet;
  position: relative;
  color: white;
  height: 48px;
  width: 100%;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin-bottom: 10px;
}

.action-btn {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}

#edit,
#del {
  cursor: pointer;
}